@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   input[type="number"]::-webkit-inner-spin-button,
   input[type="number"]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }
 }

 .customShadow:hover {
   box-shadow: 0 0 10px rgba(251, 124, 61, 0.717);
 }